{% extends "stay_base.html" %}
{% load static %}

{% block content %}
<div class="mbr-section-btn item-footer mt-2"><a href="{% url 'review:list'%}" class="btn btn-warning" target="_blank">
    <span style="font-family: 'Black Han Sans',sans-serif;"">리뷰 보러 가기&gt;</span></a>
</div>
<section data-bs-version="5.1" class="content4 cid-twoso003bO" id="content4-16">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong><span style="font-family: 'Black Han Sans',sans-serif;">숙소 바로 앞 OCEAN VIEW 숙소</span></strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">
                    <span style="font-family: 'Black Han Sans',sans-serif;">#부산 #광안리 #한국</span></h4>
                
            </div>
        </div>
    </div>
</section>

<hr>

<section>    
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/C_detail1.png"%}" >
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/C_detail2.png"%}" height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/C_detail3.png"%}" height="100%" width="100%">
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/도시5.png"%}" >
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/도시1.png"%}" height="100%" width="100%">
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                        <img src="{%static "assets/images/도시4.png"%}" height="100%" width="100%">
                    
                </div>
            </div>
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-twotup2LFc" id="features16-1a">

    

    
    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong><span style="font-family: 'Lilita One',cursive;">NOTICE</span></strong>
                        </h6>
                        <hr>
                        <p class="mbr-text mbr-fonts-style mb-4 display-5">
                            <span style="font-family: 'Black Han Sans',sans-serif;">셀프 체크인</span></p>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            안내 직원의 도움을 받아 체크인하실 수 있습니다.</p>
                        <hr>
                        <p class="mbr-text mbr-fonts-style mb-4 display-5">
                            <span style="font-family: 'Black Han Sans',sans-serif;">반려동물 환영</span></p>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            반려동물 동반이 허용되는 숙소 입니다.</p>
                            <hr>
                        <p class="mbr-text mbr-fonts-style mb-4 display-5">
                            <span style="font-family: 'Black Han Sans',sans-serif;">주차 안내</span></p>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            숙소 앞 주차장을 무료로 이용가능합니다.</p>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{%static "assets/images/sq4.png"%}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts2 cid-twotAVaLPK" id="contacts2-1b">

    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong><span style="font-family: 'Black Han Sans',sans-serif;">편의시설</span></strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mbri-wifi" style="font-size: 70px;"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong><span style="font-family: 'Black Han Sans',sans-serif;">무선 인터넷</span></strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">free</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-video mobi-mbri" style="font-size: 55px;"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">                            
                            <strong><span style="font-family: 'Black Han Sans',sans-serif;">숙소 보안 카메라 - 숙소 밖</span></strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">숙소 주변 보안성 높음.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont socicon-youtube socicon" style="font-size: 55px;"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong><span style="font-family: 'Black Han Sans',sans-serif;">TV - ( YouTube 포함 )</span></strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">- 넷플릭스, 일반 케이블 TV</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mbrib-trash" style="font-size: 55px;"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5"><strong><span style="font-family: 'Black Han Sans',sans-serif;">청소 ( 추가 요금 발생 )</span></strong></h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            10:30 - 11:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="testimonials2 cid-twotZVh7ts" id="testimonials2-1d">
    
    
    
    
    <div class="container">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
            <strong><span style="font-family: 'Lilita One',cursive;">REVIEW</span></strong>
        </h3>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries, forms, articles, and so on. Start a project and click on the red plus buttons to see the blocks available for your theme.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="{%static "assets/images/team1.jpg"%}" alt="Mobirise Website Builder">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Martin Smith</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Client</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">You can have multiple pages in each project in Mobirise website builder software. Don't forget to set links to your pages after creating them. You can use menu blocks to create navigation for your site visitors.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="{%static "assets/images/team2.jpg"%}" alt="Mobirise Website Builder">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Jessica Brown</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Client</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="map1 cid-twotGcjBlG" id="map1-1c">
    
    
    
    <div class="container">
        <div class="mbr-section-head mb-4">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Map</strong>
            </h3>
            
        </div>
        <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1582.4006141123193!2d127.10142985822557!3d37.51260602253311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca50ac1c8bccb%3A0xbeb4a183daa6684f!2z7Iuc6re464uI7JeYIOyEnOyauA!5e0!3m2!1sko!2skr!4v1677763450682!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</section>
{% endblock %}